<div *ngFor="let post of postArray">
<div class="post shadow">
 
  <div class="postWrapper">
    <div class="postTop">
       <div class="postTopLeft">
        <!-- <img class="postProfileImg" src={{getUsernameById(post.userId).profilePicture}}/> -->
        <img class="postProfileImg" src="../../../assets/user/user.jpg"/>
        <!-- <img *ngIf="user?.profilePicture" class="postProfileImg" src={{user?.profilePicture}}/> -->
        <!-- <span class="postUsername">{{getUsernameById(post.userId).username}}</span> -->
        <!-- <span class="postUsername">{{findNameById(post.userId)}}</span> -->
        <span class="postUsername">{{userName.firstname + ' ' + userName.lastname}}</span>
        <span class="postDate">{{post.createdDate}}</span>
      </div> 
      <div class="postTopRight">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </div>
    </div>
    <div class="postCenter">
      <span class="postText">{{post.caption}}</span>
      <img class="postImg img-fluid" src="../../../assets/user/user.jpg"/>
    </div>
    <div class="postBottom">
      <div class="postBottomLeft">
       
        <span class="fa fa-flag fa-2x likeIcon"></span>
        
        <span class="postLikeCounter"><b>78</b> People like it</span>
      </div>
      <div class="postBottomRight">
        <span class="postCommentText">90 Comments</span>
      </div>
    </div>
  </div>
</div>
</div>
