.login{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 90%;
    height: 80%;
    display: flex;
    margin-top: 100px;
}

.loginLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color: orangered;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 24px;
}

.loginBox{
   width: 80%;
    height: 300px;
    padding: 20px;
    background-color: rgb(250, 245, 245);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.loginRegisterButton{
    width: 100%;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}