<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
             <label for="username">UserName</label>
             <input type="text" class="form-control"
              id="username" formControlName = "username">
          </div>
          <div class="form-group">
             <label for="email">Email</label>
             <input type="email" class="form-control" 
             id="email" formControlName = "email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="email" class="form-control" 
            id="email" formControlName = "password">
         </div>
         <div class="text-center">
          <button class="btn btn-primary">Register</button>
                </div>
        </form>
        </div>
        </div>
      </div> -->

      <div class="login">
        <div class="loginWrapper">
          <div class="loginLeft">
            <h3 class="loginLogo">Shiv Social Media</h3>
            <span class="loginDesc">
              Connect with friends and
               world around you on Shiv Social Media !
            </span>
          </div>
          <div class="loginRight">
            <div class="loginBox">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                   <label for="firstname">First Name</label>
                   <input type="text" class="form-control loginInput"
                    id="firstname" formControlName = "firstname">
                </div>
                <div class="form-group">
                  <label for="lastname">Last Name</label>
                  <input type="text" class="form-control loginInput"
                   id="lastname" formControlName = "lastname">
               </div>
                <div class="form-group">
                   <label for="email">Email</label>
                   <input type="email" class="form-control loginInput" 
                   id="email" formControlName = "email">
                   <span class="text-danger"
                *ngIf="(f.email.touched || submitted) && f.email.errors">
                <div *ngIf="f.email.errors.required">Email is required</div>
              </span>
              <span *ngIf="submitted && f.email.errors" class="text-danger">
                <div *ngIf="f.email.errors.pattern">Invalid Email</div>
              </span>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control loginInput" 
                  id="password" formControlName = "password">
                  <span class="text-danger"
                  *ngIf="(f.password.touched || submitted) && f.password.errors?.required">
                  Password is required
                </span>
                <span class="text-danger"
                *ngIf="submitted && f.password.errors">
                <div *ngIf="f.password.errors.pattern">
                      Password should have minimum 6 characters, at least 1 alphabet, 1 number, 1 char among @#$&!                 
                    </div>
                    </span>
               </div>
               <div class="text-center">
                <button class="btn btn-primary loginButton">Register</button>
                      </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      