// @media (min-width: 1400px){
//     .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
//         max-width: 1400px;
//         margin-top: 10px;
//     }
//     }
    
.homeContainer{
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.sidebar{
    // flex: 3.5;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: fixed;
    // top: 50%;
    width: 30%;
    
}

.size{
flex: 3.5;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
   background-color: rgb(179, 179, 179);
}

.feed{
    flex: 5.5;
}

.rightbar{
    flex: 3;
}


.indexcity {
    z-index: 9999;
  }
  
  .right {
      right: 0 !important;
      left: 0 !important;
  }
  
  @media only screen and (max-width: 767px) {
      .sidebar{
        background-color:white;
        position: fixed;
        top: 0;
        transition:all 0.8s ease-out;
        height: 100%;
        width: 100%;
        left: 700px;
        
      }
  }
  @media (max-width: 2700px) and (min-width: 767px) {
    .btn-hide{
      display: none;
      
    }
}
  
