<div class="homeContainer">
  <!-- Navigation -->
 
  <button type="button" class="navbar-toggle btn-hide">
    <span class="sr-only">Toggle Navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    
</button>
<div class="size">
  <div class="sidebar">
            
    <app-leftSidenav></app-leftSidenav>

</div>
</div>
        
 
    
  

    

 
  <!-- <app-leftSidenav class="sidebar"></app-leftSidenav> -->
 
  
  <app-post class="feed"></app-post>
  <!-- <app-rightbar class="rightbar"></app-rightbar> -->
    <app-rightSidenav class="rightbar"></app-rightSidenav>

</div>
 


<!-- 
<div class="container">
  <div class= "row">
    <div class="col-md-3 shadow-lg p-3 mb-5 bg-white rounded">
      <app-leftSidenav></app-leftSidenav>
    </div>
    
    <div class="col-md-5">
      <app-post></app-post>
    </div>
   
      <div class="card col-md-4">
        jvshxbhjx
      </div>


  </div>
</div> -->
