.card-wrapper{
    margin: 5% 0;
    // margin-top: 10px;
}

.card-style{
    text-align: center;
    border-radius: initial;
    border: initial;
}

.circle-image{

    width: 60%;
    height: 200px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.username{
    text-decoration: none;
    cursor: pointer;
}

.name-sirname {
    font-weight: 300;
    font-size: 17px;
    color: #969393;
}

.name-sirname a {
    color: #555;
}

.label-stats, .number-stats {
    display: block;
    text-align: center;
    transition: all 300ms;
}

.label-stats {
    color: #555;
    font-weight: bold;
}

.number-stats {
    color: green;
    font-weight: bold;
}

.following-data {
    float: left;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 10px;
    border-right: 2px solid #eee;
}

.following-data:first-child {
    padding-left: 6px;
}

.following-data:last-child {
    border: none;
}

.stats {
    border-top: 1px solid #eee;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.stats a:hover {
    text-decoration: none;
}

.stats a:hover .number-stats {
    color: #cc1717;
}

.paragraph{
    margin-top: 10px;
}



//gvhgvh

