<div class="card-wrapper">
    <div class="card card-style" >
      <img class="card-img-top rounded-circle circle-image" src="../../../assets/user/user.jpg" alt="Card image cap">
    

        <div class="name-sirname">
            <a class="username label-stats">
                {{identity.firstname + ' ' + identity.lastname}}
            </a>
        </div>

        <div class="stats">
            <div class="following-data">
                <a>
                    <span class="label-stats">
                        Following
                    </span>
                    <span class="number-stats">
                        {{following === null ? "0" : following.length}}
                    </span>
                </a>
            </div>
            <div class="following-data">
                <a>
                    <span class="label-stats">
                        Followers
                    </span>
                    <span class="number-stats">
                        {{follower === null ? "0" : follower.length}}
                    </span>
                </a>
            </div>
            <div class="following-data">
                <a>
                    <span class="label-stats">
                        Posts
                    </span>
                    <span class="number-stats">
                        {{singlePost === null ? "0" : singlePost.length}}
                    </span>
                </a>
            </div>
        </div>
        <div class="paragraph">
            <p>Life was meant for best friends and good adventures!</p>
        </div>
      
  </div>