<!-- <div class="container">
  <div class="row col-lg-12">
    <div class="col-lg-7">
      <h3 class="loginLogo">Shiv Social Media</h3>
      <span class="loginDesc">
        Connect with friends and
         world around you on Shiv Social Media !
      </span>
    </div>
    
  <div class="col-lg-5">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
             <label for="username">UserName</label>
             <input type="text" class="form-control"
              id="username" formControlName = "username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="email" class="form-control" 
            id="email" formControlName = "password">
         </div>
         <div>
          <button class="btn btn-primary">LOGIN</button>
          
      </div>
        </form>
        <button (click)="goToRegister()" class="btn btn-primary">CREATE ACCOUNT</button>
      </div>    
     </div>
  </div>
  </div>
</div> -->

<div class="login">
  <div class="loginWrapper">
    <div class="loginLeft">
      <h3 class="loginLogo">Trekk App</h3>
      <span class="loginDesc">
        Connect with friends and
         world around you on Trekk App !
      </span>
    </div>
    <div class="loginRight">
      <div class="loginBox">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control loginInput" 
            id="email" formControlName = "email">
            <span class="text-danger"
         *ngIf="(f.email.touched || submitted) && f.email.errors">
         <div *ngIf="f.email.errors.required">Email is required</div>
       </span>
       <span *ngIf="submitted && f.email.errors" class="text-danger">
         <div *ngIf="f.email.errors.pattern">Invalid Email</div>
       </span>
         </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control loginInput" 
            id="password" formControlName = "password">
         </div>
         <div>
          <button class="btn btn-primary loginButton">LOGIN</button>
          
        </div>
        </form>
        <button (click)="goToRegister()" class="loginRegisterButton">
          Create a New Account
        </button>
      </div>
    </div>
  </div>
</div>




 
    

      

       