.feedCard{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    // background-color: green;
}

.cardWrapper{
    padding: 10px;
}

.cardTop{
    display: flex;
    align-items: center;
}

.cardProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.cardInput{
    border: none;
    width: 80%;
}

.cardInput:focus{
    outline: none;
}

.shareHr{
    margin: 20px;
}

.cardBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardOptions{
    display: flex;
}

.cardOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.cardIcon{
    font-size: 18px;
    margin-right: 3px;
}

.cardOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}