<div class="feedCard shadow">
  <div class="cardWrapper">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="cardTop">
      
      <img class="cardProfileImg" src="../../../assets/user/user.jpg"/>
      
      <input placeholder="create a post" formControlName="caption" class="cardInput"/>
    
    </div>
    <hr class="cardHr"/>
    <div class="cardBottom">
      <div class="cardOptions">
        <div class="cardOption">
          <i class="fa fa-camera-retro cardIcon" style="color: red;" aria-hidden="true"></i>
          <span class="cardOptionText">Photo or Video</span>
        </div>
        <div class="cardOption">
          <i class="fa fa-tag cardIcon" style="color: blue;" aria-hidden="true"></i>
          <span class="cardOptionText">Tag</span>
        </div>
        <div class="cardOption">
          <i class="fa fa-map-marker cardIcon" style="color: green;" aria-hidden="true"></i>
          <span class="cardOptionText">Location</span>
        </div>
        <div class="cardOption">
          <i class="fa fa-smile-o cardIcon" style="color: goldenrod;" aria-hidden="true"></i>
          <span class="cardOptionText">Feelings</span>
        </div>
      </div>
      <button class="shareButton">Share</button>
    </div>
  </form>
  </div>
</div>