

<div class="profile" profile>
  
  <div class="profileRight">
    <div class="profileRightTop">
      <div class="profileCover">
        <img class="profileCoverImg" src="../../../assets/images/cover.jpg"/>
      <img class="profileUserImg" src="../../../assets/user/user.jpg"/>
      </div>
      <div class="profileInfo">
        <h4 class="profileInfoName">{{user?.firstname}} {{user?.lastname}}</h4>
        <span class="profileInfoDesc">Hello my friends</span>
      </div>
    </div>
    
      <div class="container">
        <div class="row">
         
          <div class="col-7">
            <div *ngFor="let post of postArray">
              <div class="post shadow">
               
                <div class="postWrapper">
                  <div class="postTop">
                     <div class="postTopLeft">
                      <!-- <img class="postProfileImg" src={{getUsernameById(post.userId).profilePicture}}/> -->
                      <img class="postProfileImg" src="../../../assets/user/user.jpg"/>
                      <!-- <img *ngIf="user?.profilePicture" class="postProfileImg" src={{user?.profilePicture}}/> -->
                      <!-- <span class="postUsername">{{getUsernameById(post.userId).username}}</span> -->
                      <!-- <span class="postUsername">{{findNameById(post.userId)}}</span> -->
                      <span class="postUsername">{{user?.firstname}} {{user?.lastname}}</span>
                      <span class="postDate">12 jun</span>
                    </div> 
                    <div class="postTopRight">
                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="postCenter">
                    <span class="postText">{{post.caption}}</span>
                    <img class="postImg img-fluid" src="../../../assets/user/user.jpg"/>
                  </div>
                  <div class="postBottom">
                    <div class="postBottomLeft">
                     
                      <span class="fa fa-flag fa-2x likeIcon"></span>
                      
                      <span class="postLikeCounter"><b>78</b> People like it</span>
                    </div>
                    <div class="postBottomRight">
                      <span class="postCommentText">90 Comments</span>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              
          </div>
          <div class="col-5 homeContainer">
            <app-leftSidenav class="sidebar"></app-leftSidenav>
          
        </div>
      </div>   
</div>
  </div>
</div>

