.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

// .topbarLeft{
//     flex: 3;
// }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.topbarLeft{
         flex: 2;
     }


.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topbarCenter{
    flex: 3;
}

.searchBar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 20px !important; 
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 90%;
}

.searchInput:focus{
    outline: none;
}

// .topbarRight{
//     flex: 4;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     color: white;
// }
.topbarRight{
    flex: 4;
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    // color: white;
}

// .topbarLink{
//     margin-right: 10px;
//     font-size: 14px;
//     cursor: pointer;
// }

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    right: -5px;
    top:3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    float: right;
    margin-right: 12px;
}

//new

.rightEnd{
    flex:2;
}

// .nav-item a:hover{
//     color: white !important;
// }


.nav-color{
    background-color: #e67e00;
}


// @media (min-width: 1400px){
// .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
//     max-width: 1700px;
// }
// }







