<!-- <div class="topbarContainer">
  <div class="topbarLeft" *ngIf="identity || !identity">
    <span (click)="playAudio()" class="logo">Trekk App</span>
  </div>
  <div class="topbarCenter" *ngIf="identity">
    <div class="searchBar">
      <i class="fa fa-search searchIcon"></i>
      <input class="searchInput" type="text" placeholder="Search" aria-label="Search"/>
    </div>
  </div>
  <div class="topbarRight" *ngIf="identity">
    <div class="topbarLinks col-xs-12">
      <span [routerLink]="['/timeline']" class="topbarLink">TIMELINE</span>
      <span [routerLink]="['/all-users']" class="topbarLink">All USERS</span>
      <span [routerLink]="['/profile', identity.id]" class="topbarLink"> MY PROFILE</span>
    </div>
    <img src="../../../assets/user/user.jpg" alt="" class="topbarImg"/>
  </div>
</div> -->

<nav class="navbar navbar-dark navbar-expand justify-content-center nav-color sticky">
    <div class="topbarLeft">
      <span (click)="playAudio()" class="logo">Trekk App</span>
    </div>
    <div class="topbarCenter" *ngIf="identity">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
    </div>
    <div class="topbarRight" *ngIf="identity">
      <ul class="navbar-nav nav-justified text-center mt-1">
        <li class="nav-item">
            <a [routerLink]="['/timeline']" class="nav-link d-flex flex-column" data-toggle="collapse">
              <i class="fa fa-modx fa-2x" aria-hidden="true"></i>
                <span class="d-none d-sm-inline mt-1">TIMELINE</span>
            </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/all-users']" class="nav-link d-flex flex-column" data-toggle="collapse">
            <i class="fa fa-users fa-2x" aria-hidden="true"></i>
              <span class="d-none d-sm-inline mt-1">USERS</span>
          </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/profile', identity.id]" class="nav-link d-flex flex-column" data-toggle="collapse">
          <i class="fa fa-user fa-2x" aria-hidden="true"></i>
            <span class="d-none d-sm-inline mt-1">PROFILE</span>
        </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link d-flex flex-column" data-toggle="collapse">
        <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
          <span class="d-none d-sm-inline mt-1">NOTIFICATIONS</span>
      </a>
  </li>
    </ul>
    </div>
    <div class="rightEnd">
      <img src="../../../assets/user/user.jpg" alt="" class="topbarImg"/>
      
    </div>
</nav>





