

  .card-wrapper{
      margin: 10px;
  }

//   .card{
//     height: 300px;
//     width: 400px;
//     padding: 10px; 
//   }

.circle-image{

    width: 70%;
    height: 200px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.userInfo{
    height: 40px;
    padding: 1px;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.card-title {
    margin-top: auto;
    /* padding: 3px; */
}

  