
<div class="card-wrapper">
  <div class="card" style="width: 19rem;height: 23rem;">
    <img class="card-img-top rounded-circle circle-image" src="../../../assets/user/user.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="userInfo d-flex">
        <a [routerLink]="['/profile', user.id]">
        <h5 class="card-title">{{user.firstname}} {{user.lastname}}</h5>
      </a>
        <button class="btn btn-primary" (click)="followUser(user.id)">Follow</button>
      </div>
      <div class="followers">
        <span>Followers:{{followers === null ? "0" : followers.length}}</span>
        <span>Following:{{followings === null ? "0" : followings.length}}</span>
      </div>
      
      <p class="card-text">Life was meant for best friends and good adventures!</p>
      
    </div>
</div>
