<div class="feed">
  <div class="feedWrapper">
    <app-create-post></app-create-post>
    <!-- <app-post *ngFor="let post of postArray" [post]="post"
     
     [userId]="post?.userId"></app-post> -->
     <app-card></app-card>
    
  </div>
</div>
