<li class="rightbarFriend">
  <div class="rightbarProfileImgContainer">
    <img class="rightbarProfileImg" src="../../../assets/user/user.jpg"/>
    <span class="rightbarOnline"></span>
  </div>
  <span class="rightbarUsername">Pradip Vavhal</span>
</li>
<li class="rightbarFriend">
  <div class="rightbarProfileImgContainer">
    <img class="rightbarProfileImg" src="../../../assets/user/user.jpg"/>
    <span class="rightbarOnline"></span>
  </div>
  <span class="rightbarUsername">Pradip Vavhal</span>
</li>

<button [routerLink]="['/all-users']" (click)="this.showPortal = true">See More</button>
