// .rightbar{
//     flex: 3;
// }

.rightbarWrapper{
    padding: 20px 20px 0 0;
}


//home rightbar

.rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarTitle{
    margin-bottom: 20px;
}

.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}


ul {
    padding: 2px;
    display: block;
    list-style-type: none;
    // margin: 20px;
    max-height:400px;
    overflow:hidden; 
    overflow-y:hidden;
}

li a {
    background: #999;
    color: #fff;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

li a:hover {
    background: #555;
}

//home rightbar end

