<div class="rightbar">
  <div class="rightbarWrapper">
     <img class="rightbarAd" src="../../../assets/ads/ads.jpg"/>

     <div class="news-section">
       <ul>
        <li><a>News1</a></li>
        <li><a>News2</a></li>
        <li><a>News3</a></li>
       </ul>
     </div>
     <h4 class="rightbarTitle">All Friends</h4>
     <ul class="rightbarFriendList">
       <app-online-friends></app-online-friends>
     </ul>
    
    
   </div>
 </div>


 